<header>
  <div id="inicio" class="uk-position-relative">
    <div class="uk-height-viewport uk-background-cover uk-flex uk-flex-between uk-flex-middle" data-src="assets/img/tomas_rocio_web2.jpg" uk-img>
      <!-- <div>
        <h2 class="animated fadeInUp delay-2s fast"> Tomás Garate
        </h2>
        <h3>Alcalde</h3>
      </div>
      <div>
        <h2 class="animated fadeInUp delay-2s fast"> Rocio Silva      </h2>
        <h3> Concejala</h3>
      </div> -->
    </div>

    <div class="uk-position-bottom bg-dark uk-text-center uk-padding-small">
      <h1 class="yellow"> Ahora es cuando! </h1>
    </div>

    <div class="uk-position-top">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav uk-padding-large uk-padding-remove-right uk-padding-remove-bottom uk-padding-remove-top">
            <li>
              <a href="#">
                <span class="uk-icon uk-margin-small-right " uk-icon="icon: facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: instagram"></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-center uk-visible@m">
          <ul class="uk-navbar-nav">
            <!-- <li class="uk-active"><a href="#">Active</a></li> -->
            <li class="uk-padding-small li-nav"><a href="#">Súmate</a></li>
            <li class="uk-padding-small li-nav"><a href="#inicio">Inicio</a></li>
            <li class="uk-padding-small li-nav"><a href="#candidaturas">Candidaturas</a></li>
            <li class="uk-padding-small li-nav"><a href="#propuestas">Propuestas</a></li>

          </ul>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-item uk-logo uk-padding-large uk-padding-remove-left uk-padding-remove-bottom uk-padding-remove-top" href="#">
            <img src="assets/img/logo.png"/> 
          </a>
        </div>
      </nav>
    </div>
</div>

</header>


