<header>
  <div id="inicio">
    <div class="uk-visible@m" class="uk-position-relative">  
      <div class="uk-height-viewport uk-background-cover uk-flex uk-flex-between uk-flex-middle" data-src="assets/img/tomas_rocio_web2.jpg" uk-img>
        <!-- <div>
          <h2 class="animated fadeInUp delay-2s fast"> Tomás Garate
          </h2>
          <h3>Alcalde</h3>
        </div>
        <div>
          <h2 class="animated fadeInUp delay-2s fast"> Rocio Silva      </h2>
          <h3> Concejala</h3>
        </div> -->
      </div>


      <div class="uk-position-bottom bg-dark uk-text-center uk-padding-small">
        <h1 class="yellow h1-header"> Ahora es cuando! </h1>
      </div>

      <div class="uk-position-top">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

        <nav class="uk-navbar-container  height-navbar-desktop" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-padding-large uk-padding-remove-right uk-padding-remove-bottom uk-padding-remove-top">
              <li>
                <a href="https://facebook.com/transformapv" target="_blank">
                  <span class="uk-icon uk-margin-small-right " uk-icon="icon: facebook"></span>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/transformapv" target="_blank">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: instagram"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
              <!-- <li class="uk-active"><a href="#">Active</a></li> -->
              <li class="uk-padding-small li-nav"><a href="#inicio" uk-scroll>Inicio</a></li>
              <li class="uk-padding-small li-nav"><a href="#modal-join" uk-toggle>Súmate</a></li>
              <li class="uk-padding-small li-nav"><a href="#candidaturas" uk-scroll>Candidaturas</a></li>
              <li class="uk-padding-small li-nav"><a href="#propuestas" uk-scroll>Propuestas</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <a class="uk-navbar-item uk-logo uk-padding-large uk-padding-remove-left uk-padding-remove-bottom uk-padding-remove-top" target="_blank" href="https://transformapuertovaras.cl/index.php/acerca/">
              <img src="assets/img/logo.png" width="120px"/> 
            </a>
          </div>
        </nav>
        </div>
      </div>
  </div>
</div>

<div id="modal-join" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog bg-magenta uk-modal-body uk-margin-auto-vertical uk-padding-large">
      <button class="uk-modal-close-default black" type="button" uk-close></button>
      <h2 class="black"> quieres sumarte a la campaña? </h2>
      <form name="contact" method="POST" data-netlify="true" action="/">
        <div class="uk-margin">
          <input class="uk-input" type="text" name="name" placeholder="nombre">
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" name="mobile" placeholder="celular">
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="email" name="email" placeholder="tu mail">
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <p class="black">¿En qué modalidad te gustaría ser parte de la campaña de Transforma?</p>
            <label class="black"><input class="uk-checkbox bg-light" name="equipo_territorial" type="checkbox"> Equipo territorial en volanteos y puerta a puerta</label>
            <label class="black"><input class="uk-checkbox bg-light" name="suscripcion_email" type="checkbox"> Sólo recibir mails con actualización de la campaña</label>
            <label class="black"><input class="uk-checkbox bg-light" name="activista_digital" type="checkbox"> Siendo un o una activista digital</label>
        </div>
        <button type="submit" class="uk-button uk-button-secondary">sumarme</button>
      </form>
    </div>
</div>

<div class="uk-hidden@m">  
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container height-navbar-mobile" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li>
            <a href="https://facebook.com/transformapv" target="_blank">
              <span class="uk-icon" uk-icon="icon: facebook"></span>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/transformapv" target="_blank">
              <span class="uk-icon" uk-icon="icon: instagram"></span>
            </a>
          </li>
          <li>
            <a class="uk-navbar-toggle" href="#">
              <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
            </a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class=""><a href="#inicio" uk-scroll>Inicio</a></li>
                <li class=""><a href="#modal-join" uk-toggle>Súmate</a></li>
                <li class=""><a href="#candidaturas" uk-scroll>Candidaturas</a></li>
                <li class=""><a href="#propuestas" uk-scroll>Propuestas</a></li>
              </ul>
            </div>
        </li>
        </ul>

      </div>
      <div class="uk-navbar-right">
        <a class="uk-navbar-item uk-logo" target="_blank" href="https://transformapuertovaras.cl/index.php/acerca/">
          <img width="80px" src="assets/img/logo.png"/> 
        </a>
      </div>
    </nav>    
  </div>

  <div class="uk-height-large uk-background-cover uk-flex uk-flex-between uk-flex-middle" data-src="assets/img/tomas_rocio_mobile.jpg" uk-img>
    <!-- <div>
      Algo dentro de la imagen
    </div> -->
  </div>

  <div class="bg-dark uk-text-center uk-padding uk-padding-remove-left uk-padding-remove-right">
    <h1 class="yellow "> Ahora es cuando! </h1>
  </div>


  <!-- <div class="">
    <nav class="uk-navbar-container" uk-navbar>

    </nav>
  </div> -->

</div>

</header>


