$cyan: #76DEDE;
$magenta: #FC3C8C;
$yellow: #FEC731;
$green: #61C75F;

$grey-color-dark: #222;
$grey-color-light: #ddd;

.cyan{
  color: $cyan;
}

.magenta{
  color: $magenta;
}

.yellow{
  color: $yellow;
}

.green{
  color: $green;
}

.bg-cyan{
  background-color: $cyan;
}

.bg-magenta{
  background-color: $magenta;
}

.bg-yellow{
  background-color: $yellow;
}

.bg-green{
  background-color: $green;
}

footer, header{
  background-color: $grey-color-dark;
}

