---
layout: default
---

<div id="candidaturas" class="uk-background-cover" uk-parallax="bgy: -200" style="background-image: url('assets/img/bg_tpv.png');">
  <section class="uk-section uk-hidden@m">
    <h1 class="uk-text-center black uk-padding-large">
      <span class="bg-green uk-padding-small"> hola! </span>
    </h1>
    <div class="uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
      <p class="text-18">
      Somos un movimiento de ciudadanos y ciudadanas que se ha propuesto transformar Puerto Varas. Para eso, desde una mirada independiente, colectiva y transversal, proponemos a los vecinos y vecinas que trabajemos junto a Tomás Gárate como alcalde y Rocío Alvarado como concejala para dar un salto en el gobierno local e impulsar los cambios que se necesitan para tener una comuna planificada con oportunidades y equidad para sus habitantes, una gestión que resuelve lo pendiente y se compromete con el bienestar de las familias, el desarrollo con innovación, el cuidado del medio ambiente y el futuro de Puerto Varas.
      </p>
    </div>
  </section>
  <section class="uk-section uk-visible@m uk-text-center">
    <div class="height-340 uk-inline-clip uk-transition-toggle  uk-width-xlarge" tabindex="0">
      <h1 class="uk-text-center black uk-padding-large">
        <span class="bg-green uk-padding-small"> hola! </span>
      </h1>
      <div class="uk-transition-fade uk-position-center uk-position-small uk-overlay bg-light">
        <div>
          <h4 class="green">¡Hola!</h4>
          <p class="text-18">
            Somos un movimiento de ciudadanos y ciudadanas que se ha propuesto transformar Puerto Varas. Para eso, desde una mirada independiente, colectiva y transversal, proponemos a los vecinos y vecinas que trabajemos junto a Tomás Gárate como alcalde y Rocío Alvarado como concejala para dar un salto en el gobierno local e impulsar los cambios que se necesitan para tener una comuna planificada con oportunidades y equidad para sus habitantes, una gestión que resuelve lo pendiente y se compromete con el bienestar de las familias, el desarrollo con innovación, el cuidado del medio ambiente y el futuro de Puerto Varas.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="uk-hidden@m">
    <div class="uk-background-cover uk-height-medium uk-flex uk-flex-center uk-flex-bottom" style="background-image: url(assets/img/tom_yelow.jpg);">
      <div class="uk-text-center">
        <h2 class="uk-margin-remove uk-h1">TOMÁS</h2>
        <h3 class="uk-margin-medium uk-margin-remove-top">ALCALDE</h3>
      </div> 
    </div>
    <div class="uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
      <div>
      <h4>Tomás Garate, Alcalde</h4>
      <p class="text-18">
        Soy Arquitecto UC, master en Arquitectura del Paisaje. Nací en Puerto Varas, el lugar que me apasiona. Tengo experiencia en sustentabilidad, planificación e innovación social. Soy co-Fundador de Legado Chile. He sido siempre independiente, nunca he militado en partidos políticos. Me caracterizo por trabajar transversalmente con personas con distintas visiones. Tengo experiencia y capacidad en la articulación público – privada, poniendo en el centro el bien común y bienestar de las personas. Soy fundador del Movimiento Ciudadano Transforma Puerto Varas, un espacio transversal y diverso que pone al servicio el bien común de todos y todas.
      </p>
      </div>
    </div>
    <div class="uk-background-cover uk-height-medium uk-flex uk-flex-center uk-flex-bottom" style="background-image: url(assets/img/rocio_blue.jpg);">
      <div class="uk-text-center">
        <h2 class="uk-margin-remove uk-h1">ROCIO</h2>
        <h3 class="uk-margin-medium uk-margin-remove-top">CONCEJALA</h3>
      </div> 
    </div>
    <div class="uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
      <div>
        <h4>Rocio Alvarado, Concejala</h4>
        <p class="text-18">
          Soy cocinera de formación, con fuerte compromiso social, convicción y experiencia en participación ciudadana. He centrado mi trabajo en el reconocimiento del patrimonio natural y cultural. Soy gestora integral de proyectos. Estuve a cargo del primer Banco de Lanas del mundo, potenciando economías locales y actualmente soy coordinadora de la Corporación Cuenca Sostenible. Me declaro feminista e independiente sin militancia en ningún partido político, pero con posición clara y convicción en lo que los vecinos y vecinas esperan de sus representantes.
        </p>
      </div>
    </div>
  </div>
  
  <div class="uk-grid uk-visible@m">
    <div class="uk-width-1-2@m">
      <div>
        <div class="uk-width-1-1 uk-inline-clip uk-transition-toggle" tabindex="0">
          <div class="uk-background-cover uk-height-large uk-flex uk-flex-center uk-flex-bottom" style="background-image: url(assets/img/tom_yelow.jpg);">
            <div class="uk-text-center">
              <h2 class="uk-margin-remove uk-h1">TOMÁS</h2>
              <h3 class="uk-margin-medium uk-margin-remove-top">ALCALDE</h3>
            </div> 
          </div>
          <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <div>
              <h4>Tomás Garate, Alcalde</h4>
              <p class="text-18">
                Soy Arquitecto UC, master en Arquitectura del Paisaje. Nací en Puerto Varas, el lugar que me apasiona. Tengo experiencia en sustentabilidad, planificación e innovación social. Soy co-Fundador de Legado Chile. He sido siempre independiente, nunca he militado en partidos políticos. Me caracterizo por trabajar transversalmente con personas con distintas visiones. Tengo experiencia y capacidad en la articulación público – privada, poniendo en el centro el bien común y bienestar de las personas. Soy fundador del Movimiento Ciudadano Transforma Puerto Varas, un espacio transversal y diverso que pone al servicio el bien común de todos y todas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2@m uk-padding-remove">
      <div>
        <div class="uk-width-1-1 uk-inline-clip uk-transition-toggle" tabindex="0">
          <div class="uk-background-cover uk-height-large uk-flex uk-flex-center uk-flex-bottom" style="background-image: url(assets/img/rocio_blue.jpg);">
            <div class="uk-text-center">
              <h2 class="uk-margin-remove uk-h1">ROCIO</h2>
              <h3 class="uk-margin-medium uk-margin-remove-top">CONCEJALA</h3>
            </div> 
          </div>
          <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <div>
              <h4>Rocio Alvarado, Concejala</h4>
              <p class="text-18">
                Soy cocinera de formación, con fuerte compromiso social, convicción y experiencia en participación ciudadana. He centrado mi trabajo en el reconocimiento del patrimonio natural y cultural. Soy gestora integral de proyectos. Estuve a cargo del primer Banco de Lanas del mundo, potenciando economías locales y actualmente soy coordinadora de la Corporación Cuenca Sostenible. Me declaro feminista e independiente sin militancia en ningún partido político, pero con posición clara y convicción en lo que los vecinos y vecinas esperan de sus representantes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="uk-padding-large uk-text-center">
    <button class="uk-button uk-button-primary uk-button-large"><a href="https://www.dropbox.com/sh/1x2o1nfw0hqx8px/AACqca7X_t8a22-QnStVEvJ9a?dl=0" target="_blank">descargar kit de campaña</a></button>
  </div>
</div>



<section id="propuestas" class="uk-section bg-dark">

  <div class="uk-padding uk-section-large" uk-grid>
    <div class="uk-width-1-3@m">
      <ul class="uk-nav " uk-switcher="connect: #component-nav; animation: uk-animation-fade">
        <li class="li-proposals"><a href="#" class="black">Programa</a></li>
        <li class="li-equitativa"><a href="#" class="black">Comuna Equitativa</a></li>
        <li class="li-verde"><a href="#" class="black">Comuna Verde</a></li>
        <li class="li-planificada"><a href="#" class="black">Comuna Planificada</a></li>
        <li class="li-participativa"><a href="#" class="black">Comuna Participativa</a></li>
      </ul>
    </div>
    <div class="uk-width-2-3@m">
    
      <div id="component-nav" class="uk-switcher">
        <div id="brief" class="uk-text-center">
          <div uk-grid>
            <div class="uk-width-1-2@m">
              <h2 class="white">Propuestas</h2>
              <p class="white uk-margin-remove">Nuestro programa se estructura en</p>
              <p class="uk-margin-remove yellow"><span class="uk-h1 yellow">4 ejes centrales</span> <br><span class="uk-h3 yellow">y</span> <span class="uk-h1 yellow">10 desafíos</span></p>
              <p class="white uk-margin-remove"> con medidas específicas.</p>
              <p class="white">A la izquierda encontrarás un resumen por eje, y si quieres revisar el programa completo descargalo acá:</p>
              <button href="#modal-download" class="uk-button uk-button-primary uk-button-large" uk-toggle>descargar programa</button>
            </div>
          </div>
        </div>


        <div id="comuna-equitativa padding-right">
          <h2 class="white">Propuestas</h2>
          <p class="white">Buscaremos transformar a Puerto Varas en una comuna que se ocupe especialmente de reducir las desigualdades e inequidades en aspectos sociales, culturales, territoriales, de género y de acceso a bienes y servicios de calidad, garantizando una vida digna para todos sus habitantes.</p>
          <ol>
            <li class="white">
              <span class="cyan">Educación para la vida y el trabajo: </span>Crearemos una escuela ciudadana sobre derechos sociales, políticos y liderazgo para la democracia. Potenciaremos la alfabetización digital y la educación socio afectiva.
            </li>
            <li class="white">
              <span class="cyan">Salud integral: </span>instauraremos el primer Observatorio Ciudadanos de Salud; adquiriremos un Ginecomóvil para detectar tempranamente el cáncer de mama y atenciones; implementaremos un plan de reducción de obesidad en estudiantes; desarrollaremos Huertas sanadoras, entre otros.
            </li>
            <li class="white">
              <span class="cyan">Empoderamiento de la mujer, niños, niñas y adolescentes: </span>Plan de sensibilización y prevención de la violencia de género; Fortaleceremos la Oficina de la Mujer; pondremos en marcha un Programa de Aprendizaje y Empoderamiento Familiar y una escuela de Cuidados y Estimulación temprana de la Niñez.
            </li>
          </ol>
        </div>           

        <div id="comuna-verde">
          <h2 class="white">Propuestas</h2>
          <p class="white">Aspiramos a una comuna que se preocupe por resguardar la conservación y recuperar su entorno natural; que atiende la urgencia de potenciar una economía local sostenible; que entiende la necesidad de mitigar los efectos ambientales del crecimiento de la ciudad y de la vida en comunidad y que genera la articulación e impulsa acciones que nos lleven a lograr un verdadero desarrollo sostenible.</p>
          <ol>
            <li class="white">
              <span class="green">Protección del Medio ambiente: </span>En materia de reciclaje vamos a construir un centro de acopio para recicladores de base; aplicaremos incentivos a la reducción de residuos en supermercados y almacenes; un banco de alimentos para reducir el desperdicio de ellos en un 50%; daremos inicio a un Plan de Drenaje urbano sostenible; integraremos parques a través de senderos urbanos de contemplación; instauraremos un Observatorio Ambiental, realizaremos un catastro de humedales urbanos y los protegeremos; entre otros.
            </li>
            <li class="white">
              <span class="green">Reactivación de la economía local:</span> Habilitaremos un Mercado Municipal para abastecimiento de productores locales y la Corporación de Desarrollo se transformará en una plataforma de emprendimiento verde.  
            </li>
          </ol>
        </div>

        <div id="comuna-planificada">
          <h2 class="white">Propuestas</h2>
          <p class="white">
            Queremos una comuna más integrada, accesible y justa, planificada a múltiples escalas y con visión a largo plazo, que priorice el bienestar social, la vitalidad de los barrios, sus espacios públicos y la conservación de la biodiversidad. Esto, mediante una institucionalidad pública innovadora, que promueva el involucramiento de la ciudadanía e incentive alianzas público-privadas para la construcción colectiva del territorio.
          </p>
          <ol>
            <li class="white">
              <span class="magenta">Espacio Público y vivienda: </span>Iniciaremos un Plan de Viviendas tuteladas para personas mayores vulnerables; pondremos a disposición de los vecinos Subsidios de Arriendo para identificar familias en peligro; pondremos en marcha un plan de Eficiencia Energética de hogares; instauraremos la compra colaborativa de leña y certificaremos a oferentes.
            </li>
            <li class="white">
              <span class="magenta">Crecimiento planificado y participación barrial: </span> Creación de una Banco de Suelo; desarrollaremos Planes Maestros Barriales; desarrollaremos el Primer Plan de Movilidad Sostenible e la comuna con una red integrada de ciclovías, mejora de conectividad y peatonalización dinámica de áreas céntricas.
            </li>
          </ol>
        </div>

        <div id="comuna-participativa">
          <h2 class="white">Propuestas</h2>
          <p class="white">Apostamos por un municipio que promueva la participación ciudadana y su inteligencia colectiva, que informe y cree espacios para la discusión y la formación; un municipio que realice su gestión en forma transparente, abierta y desde sus barrios.</p>
          <ol>
            <li class="white">
              <span class="yellow">Seguridad en los barrios: </span>Llevaremos adelante iniciativas para apropiación y uso del espacio público; actividades al aire libre para la convivencia y crearemos Mesas Barriales de seguridad.
            </li>
            <li class="white">
              <span class="yellow">Expresión cultural y deportiva:</span> Crearemos la Corporación Cultural de Puerto Varas para profesionalizar la gestión y ampliar los contenidos artísticos en la comuna y potenciar a los talentos locales; generaremos una red de Espacios y emprendimientos culturales y abriremos una Escuela Municipal de Deportes Náuticos.
            </li>
            <li class="white">
              <span class="yellow">Gestión innovadora y participación barrial:</span> Plan de Compras Públicas Sostenibles; elaboraremos una plataforma interactiva para transparencia de gasto público; crearemos un Laboratorio de Innovación Urbana y tendremos diversas líneas de presupuestos participativos.
            </li>
          </ol>
        </div>

      </div>

    </div>
  </div>
</section>


<div class="uk-background-cover" uk-parallax="bgy: -200" style="background-image: url('assets/img/bg_tpv2.png');">
  <section class="uk-section">
  </section>
</div>


<div id="modal-download" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog bg-magenta uk-modal-body uk-margin-auto-vertical uk-padding-large">
    <button class="uk-modal-close-default black" type="button" uk-close></button>
    <h2 class="black"> quieres conocer más de nuestro programa? </h2>
    <p class="uk-text-small black">Si quieres recibir más información del programa o movimiento Transforma Puerto Varas indícanos tus datos.</p>
    <form name="descargar_programa" method="POST" data-netlify="true" action="https://transformapuertovaras.cl/wp-content/uploads/2021/02/Programa-Transforma.pdf">
      <div class="uk-margin">
        <input class="uk-input" type="text" name="name" placeholder="nombre">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="text" name="mobile" placeholder="celular">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="email" name="email" placeholder="tu mail">
      </div>
      <button type="submit" class="uk-button uk-button-secondary">lo quiero!</button>
    </form>
  </div>
</div>