<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>

    <main>
        <div uk-height-viewport class="bg-dark uk-section uk-padding-large">

            <div class="uk-text-center">
                <img src="assets/img/logo.png"/> 
            </div>

            <h1 class="uk-text-center black ">
                <span class="bg-green uk-padding-small"> Muchas gracias! </span>
            </h1>
            <br>

            <div class="uk-container uk-container-small uk-text-center">
                <button href="#modal-download" class="uk-button uk-button-primary uk-button-large" uk-toggle><a href="/assets/Programa-Transforma.pdf">descargar programa</a></button>

                <button href="#modal-download" class="uk-button uk-button-primary uk-button-large"><a href="/">regresar a la web</a></button>
            </div>   

        </div>
    </main>
    
  </body>

</html>


